header{
    background-color: rgba(245, 165, 105, 0.944);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}

.titulo{
    color: rgba(53, 32, 11, 0.794);
}

nav{
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.estilosDeNav{
    text-decoration: none;
    color: rgba(53, 32, 11, 0.794);
    font-size: larger;
}